<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="menu">
<a href="post_edit.html">Форма</a>
    <a href="abduction.html">Увоз</a>
    <a href="applience.html">Приборы</a>
    <a href="bringing.html">Привоз</a>
    <a href="people.html">Люди</a>
    <a href="repair.html">Ремонт</a>
    <a href="type.html">Тип</a>
    <a href="tablet.html">Таблица</a>
</div>
{% block content %}
    <h1>New post</h1>
    <form method="POST" class="applience-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}
</body>
</html>